<div class="divisor">
    <h2 class="container px-4 py-5 pb-2 border-bottom">Proyectos.</h2>

    <div class="row align-items-center g-5 py-5">

        <div class="left-aligned col-10 col-sm-8 col-lg-6">
            <a href="../../../index.html">
                <img src="../../../assets/img/APLogo-20-20.png" class="img-fluid rounded-3" alt="ARGProg">
            </a>
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Portfolio interactivo.</h1>
              <p class="lead">Venta y asesoramiento sobre productos Sustentables para mejorar la produccion y la calidad
                de nuestros suelos.</p>
        </div>

    </div>
</div>