  header {
    height: 500px;
    background-image: url("../../../../assets/img/fondo.jpg");
    background-position: center;
    background-size: cover;
    margin: 1em 0.5em 1em 0.5em;
    padding: 0em 2em;
  }