<div class="divisor">
    <h2 class="container px-4 py-5 pb-2 border-bottom">Experiencias Laborales.</h2>

    <div class="row align-items-center g-5 py-5">

        <div class="left-aligned col-10 col-sm-8 col-lg-6">
            <a href="http://www.agrogar.com.ar/">
                <img src="../../../assets/img/Agrogar-logo.jpg" class="img-fluid rounded-3" alt="Agrogar">
            </a>
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Agrogar S.A.</h1>
            <h2>2018-Actualidad</h2>
            <p class="lead">Venta y asesoramiento sobre productos Sustentables para mejorar la produccion y la calidad
                de
                nuestros suelos.</p>
        </div>

    </div>

    <div class="row align-items-center g-5 py-5">

        <div class="left-aligned col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/img/abueloLogo.jpg" class="img-fluid rounded-3" alt="Abuelo Feder">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Abuelo Feder</h1>
            <h2>2016-2018</h2>
            <p class="lead">Emprendimiento propio, fabrica de pastas en Bahia Blanca.</p>
        </div>

    </div>

    <div class="row align-items-center g-5 py-5">

        <div class="left-aligned col-10 col-sm-8 col-lg-6">
            <img src="../../../assets/img/cultivoCebolla.jpg" class="img-fluid rounded-3" alt="campo">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Produccion Agropecuaria</h1>
            <h2>2007-2016</h2>
            <p class="lead">Encargado general en explotacion agropecuaria.</p>
        </div>

    </div>

</div>