<!--  <div class="container">
    <h1>Iniciar Sesión</h1>
    <form>
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" id="password">
      </div>
      <button routerLink="" type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>  -->

<section class="form-signin w-100 m-auto justify-content-md-center">
  <form>
    <img class="mb-4" src="../assets/img/APLogo-20-20.png" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Ingrese Usuario y Contraseña</h1>

    <!-- <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="email">Direccion Email</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <label for="password">Password</label>
    </div> -->

    <div class="form-outline form-white mb-4">
      <input [(ngModel)]="email" name="email" />
      <button (click)="submit()">kjñlñ</button>
      <!--label class="form-label" for="email">Direccion Email</label-->
    </div>

    <div class="form-outline form-white mb-4">
      <input type="password" [(ngModel)]="password" id="password" placeholder="password" class="form-control form-control-lg" required />
      <label class="form-label" for="password">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>

    </form>
    <app-footer></app-footer>
</section>