<div id="habilidades" class="divisor">

    <div class="container px-4 py-5" id="featured-3">
        <h2 class="pb-2 border-bottom">Habilidades.</h2>

        <p class="lead">Trabajo en equipo.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">80%
            </div>
        </div>

        <p class="lead">Solucion de problemas.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 90%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">90%
            </div>
        </div>

        <p class="lead">Html.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 50%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">50%
            </div>
        </div>

        <p class="lead">JavaScript.</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%;" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">80%
            </div>
        </div>

    </div>

</div>