<div class="divisor">

    <div class="row align-items-center g-5 py-5">

        <div class="left-aligned col-10 col-sm-8 col-lg-6">
            <img id="imgPerfil" src="../../../assets/img/perfil.jpg" class="img-fluid rounded-3" alt="FedeKopp">
        </div>

        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3"> Federico Kopp </h1>
            <h2>Full Stack Developer Jr.</h2>
            <p class="lead">Nacionalidad: Argentino</p>
            <p class="lead">Fecha de Nacimiento: 01/05/88</p>
            <p class="lead">Años: 34</p>
            <p class="lead">Mail: kopp.luisd@gmail.com</p>
            <p class="lead">Contacto: +54 2915764250</p>
        </div>

    </div>

</div>