<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid justify-content-md-left">
    <a href="https://argentinaprograma.inti.gob.ar/">
      <img id="imgMenu"
        src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1675566919/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png"
        alt="ArgProg" class="img-fluid">
    </a>
  </div>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">

    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" routerLink="/">Inicio</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/acercaDe">AcercaDe</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/experiencias">Experiencias</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/educacion">Educacion</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/skills">Habilidades</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/proyectos">Proyectos</a>
      </li>

    </ul>
  </div>

  <div class="container-fluid justify-content-md-end">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="http://facebook.com">
          <button type="button" class="btn btn-info"><i class="bi bi-facebook"></i>Facebook</button>
        </a>
      </li>

      <li class="nav-item">
        <button routerLink="/login" type="button" class="btn btn-info">Login</button>
      </li>
    </ul>
  </div>

</nav>
